<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="store/bootstrap.min.css">
    <script src="store/jquery.min.js"></script>
    <script src="store/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar_nav navbar-left">
            <li><a class="navbar-brand" href="#">Home</a></li>
            <li><a href="/admin-login/">Admin Login</a></li>
        </ul>
        <ul class="nav navbar_nav navbar-right">
            <li><a class="navbar-brand" href="#">Cart:</a><b>({{cart_items}}) Items </b></a></li>
            <li><a href="/cart/checkout">Checkout</a></li>
        </ul>

    </nav>
    <br>
    <br>
    <div class = "page-header" style="text-align:certer ">
        <h2>StoreName</h2>
    </div>
    <style type="text/css">
    .centerdv {
        width:45%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .imgscale {
        max-width: 64px;
        max-height: 64px;
    }

    </style>
    <div class="container well centerdv">
        <div>
            <h3>Total Price: <br><br><span class="label-sucess">{{total_price}}</span></h3>
            <br>
            {% for item  in cart_items %}
            <div class = "media">
                <a class="pull-left" href="#">
                    <img class="media-object imgscale" src={{item.imglink}}/>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{item.name}}</h4>
                    {{item.description}}
                    <span class="badge pull-right">{{price.price}}</span>
                </div>
                <form method="post" action="remove/">
                    {% csrf_token %}
                    <input type="hidden" name="obj_id" value={{item.id}}/>
                    <input type="submit" value="Remove" class="btn btn-danger pull-right">
                </form>
            </div>
            {% endfor %
            <button class="btn btn-success btn-lg" onclick = "window.location = 'cart/checkout';"> Checkout!</button>
        </div>
    </div>

</body>
</html>